.vscode
main.exe
test\packages
test\x64
test\test.sln
test\test-downloader\x64
test\test-downloader\packages.config
test\test-downloader\pch.cpp
test\test-downloader\pch.h
test\test-downloader\test-downloader.vcxproj
test\test-downloader\test-downloader.vcxproj.user